/* DEFAULT LIGHT MODE */
body {
    background: #f4f6f9;
    transition: 0.3s;
}

/* DARK MODE BACKGROUND */
body.dark-mode {
    background: #121212 !important;
    color: white;
}

/* NAVBAR DARK */
body.dark-mode .navbar {
    background: #062c64 !important;
}

/* CARD DARK */
body.dark-mode .card {
    background: #1e1e1e;
    color: white;
}

/* KEEP TABLE WHITE */
body.dark-mode table {
    background: white;
    color: black;
}

/* KEEP FORM WHITE */
body.dark-mode form {
    background: white;
    color: black;
}

/* BUTTON HOVER */
button:hover {
    opacity: 0.9;
}