<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bravo Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

    {% include 'navbar.html' %}

    <div class="container mt-4">
        <div class="card shadow">
            <div class="card-header bg-success text-white">
                Bravo User Dashboard
            </div>
            <div class="card-body">

                <!-- ALERTS -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, msg in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show">
                    {{msg}}
                    <button class="btn-close" data-bs-dismiss="alert"></button>
                </div>
                {% endfor %}
                {% endwith %}

                <p><b>Name:</b> {{data.name}}</p>
                <p><b>Account Number:</b> {{data.account_no}}</p>
                <p><b>Balance:</b> ₹ {{"{:,.2f}".format(data.balance)}}</p>

                <a href="/bank/statement" class="btn btn-info">Account Statement</a>
                <a href="/bank/transfer" class="btn btn-success">Pay Amount</a>

            </div>
        </div>
    </div>

</body>

</html>