<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank App</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg  shadow" style="background-color: #0d1b2a;">
        <div class="container">
            <a class="navbar-brand fw-bold text-white" href="/bank/login">
                🏦 SmartPay Bank
            </a>

            {% if session.get('bank_user_id') %}
            <div class="ms-auto">
                <span class="text-white me-3">
                    Role: {{ session.get('bank_role') }}
                </span>
                <a href="/bank/logout" class="btn btn-danger btn-sm">
                    Logout
                </a>
            </div>
            {% endif %}
        </div>
    </nav>

</body>

</html>